@tailwind base;

@tailwind components;

@tailwind utilities;

.justify-self-end {
  justify-self: end;
}

html,
body {
  /* height: 100%; */
}

body {
  /*background:#fcc2d0;*/
  @apply bg-blog-primary-pink;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  /* grid-template-areas:
    ". header ."
    "about blog side";
  grid-template-columns: 1fr 440px 1fr;
  grid-template-rows: auto 1fr; */
}

header {
  /* grid-area: header; */
}

main {
  /* grid-area: blog; */
  width: 440px;
}

article:first-child {
  margin-top: 0;
}

.post-section {
  font-family: "Spectral", serif;
  @apply text-lg;
}

.post-section p {
  @apply pb-2;
}

.post-section p:last-child {
  padding-bottom: 0;
}

.post-section code,
.post-section pre {
  @apply text-base;
}

.post-section :not(pre) > code[class*="language-"],
.post-section pre[class*="language-"] {
  @apply bg-blog-secondary-pink;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  border: 0;
}

.header-center {
  width: 440px;
}

.posts {
  width: 440px;
  height: calc(100vh - 6.75rem);
  overflow-y: auto;
}

.about {
  /* grid-area: about; */
}

.right-col {
  /* grid-area: side; */
}
